body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;  
}
@media(max-width: 500px){
   canvas{
       display: none;
   }

   h1::after{
        content: "Dispositivo não compatível (Apenas computador...) ";
        text-align: center;
   }
}